In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gobabis,NaN,2021-11-23 21:28:53,-22.4500,18.9667,70.84,16,0,10.49
1,1,Kodiak,US,2021-11-23 21:28:54,57.7900,-152.4072,11.71,62,90,8.05
2,2,Kavaratti,IN,2021-11-23 21:24:57,10.5669,72.6420,81.36,79,73,12.84
3,3,Dikson,RU,2021-11-23 21:28:55,73.5069,80.5464,0.63,94,100,13.09
4,4,Sao Filipe,CV,2021-11-23 21:28:55,14.8961,-24.4956,79.65,71,99,3.67

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### max temp heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]
# Get temperatures of locations 
max_temp = city_data_df["Max Temp"]
# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Combine heatmap to figure
fig.add_layer(heat_layer)
# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### % humdity heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### % cloudiness heatmap

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### wind speed heat map

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### vacation criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kavaratti,IN,2021-11-23 21:24:57,10.5669,72.6420,81.36,79,73,12.84
4,4,Sao Filipe,CV,2021-11-23 21:28:55,14.8961,-24.4956,79.65,71,99,3.67
5,5,Vaini,TO,2021-11-23 21:28:55,-21.2000,-175.2000,82.56,83,20,4.61
14,14,Georgetown,MY,2021-11-23 21:28:59,5.4112,100.3354,79.95,88,40,0.00
17,17,Ikorodu,NG,2021-11-23 21:29:00,6.6191,3.5041,80.56,81,10,9.06
23,23,Puerto Ayora,EC,2021-11-23 21:29:04,-0.7393,-90.3518,78.76,73,30,10.96
26,26,Hilo,US,2021-11-23 21:29:04,19.7297,-155.0900,82.13,68,75,5.75
29,29,Arraial Do Cabo,BR,2021-11-23 21:29:05,-22.9661,-42.0278,76.96,83,0,12.66
30,30,Vila Velha,BR,2021-11-23 21:29:06,-20.3297,-40.2925,76.95,84,0,3.00
34,34,Butaritari,KI,2021-11-23 21:29:07,3.0707,172.7902,82.04,74,99,17.49

In [11]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2         Kavaratti      IN     81.36  10.5669   72.6420
4        Sao Filipe      CV     79.65  14.8961  -24.4956
5             Vaini      TO     82.56 -21.2000 -175.2000
14       Georgetown      MY     79.95   5.4112  100.3354
17          Ikorodu      NG     80.56   6.6191    3.5041
23     Puerto Ayora      EC     78.76  -0.7393  -90.3518
26             Hilo      US     82.13  19.7297 -155.0900
29  Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
30       Vila Velha      BR     76.95 -20.3297  -40.2925
34       Butaritari      KI     82.04   3.0707  172.7902

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [15]:
hotel_df

           City Country  Max Temp      Lat       Lng     Hotel Name
2     Kavaratti      IN     81.36  10.5669   72.6420
4    Sao Filipe      CV     79.65  14.8961  -24.4956
5         Vaini      TO     82.56 -21.2000 -175.2000
14   Georgetown      MY     79.95   5.4112  100.3354
17      Ikorodu      NG     80.56   6.6191    3.5041
..          ...     ...       ...      ...       ...            ...
552        Soyo      AO     78.58  -6.1349   12.3689
553     Honiara      SB     84.63  -9.4333  159.9500
554  Porto Novo      BJ     84.02   6.4965    2.6036
556    Imbituba      BR     75.09 -28.2400  -48.6703
559       Gombe      NG     79.59  10.2897   11.1673  Shinani Lodge

[186 rows x 6 columns]

### max temp heatmap for hotel df

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))